@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

.header-class{
    display: flex;
    padding: 24px;
    justify-content: center;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.nav-links{
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: #EAEAEA;
}

.nav-links:hover{
    color: #F0A202;
    /*border-bottom: #F0A202 solid 2px;*/

}

body{
    background-color: #1F1B24;
    color: #EAEAEA;
}

.about-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.about-photo{
    scale: 50%;
}

.center-items{
    display: flex;
    padding: 14vh 14vh 14vh 45vh;
    gap: 10vh;
}

.text-and-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.social-media-title{
    font-weight: normal;
}

.social-media-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.sm-button{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-decoration: none;
    border-color: #F0A202;
    border-style: solid;
    border-radius: 15px;
    color: #EAEAEA;
    padding: 15px;
    width: 260px;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
}

.sm-button:hover {
    border-color: #EAEAEA;
    scale: 103%;
}

.paragrafo-principal{
    font-size: 24px;
    width: 628px;
}

.about-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.about-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-paragraph{
    width: 50%;
}

.main-title{
    font-size: 36px;
}

.title-highlight{
    color: #F0A202;
    font-weight: bolder;
}

.retrato-pixelart{
    border-radius: 15%;
    border-color: #F0A202;
    border-style: solid;
    border-width: 10px;
}

.central-image-container{
    align-content: center;
    box-sizing: content-box;
}

.footer-class{
    padding: 24px;
    width: 100vw;
    background-color: #F0A202;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    color: #1F1B24;
    box-sizing: border-box;
}


